body,
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::placeholder {
  color: black;
  opacity: 0.6; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--pink-light);
}
a{
  text-decoration: none;
  color: black;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}
:root{
  --pink-light:#f17995;
  --green:#06D6A0;
  --dark-blue:#073b4c;
  --blue:#118AB2;
  --yellow:#FFD166;
}
body{
  background-color: var(--dark-blue);
  font-family: 'Poppins';
}
nav {
  padding: 0.5rem;
  background-color: var(--green);
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
}
.main-poster-cont {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
  padding: 1rem;
}
.main-poster-cont img{
  width: 400px;
  height: auto;
  margin: 1rem;
  cursor: pointer;
}
.search-main-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
.search-cont {
  width: clamp(250px, 5vw, 300px);
  background-color: var(--pink-light);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* height: 1rem; */
  border-radius: 6rem;
  transition: width 1s ease;
}
.search-cont input {
  border: none;
  background-color: transparent;
  /* height: 1rem; */
  text-align: center;
  font-size: 1rem;
  outline: none;
  width: 100%;
  transition: width 1s ease;
}
.search-cont img {
  width: 25px;
  height: 25px;
}
.search-cont-active{
  width: clamp(250px, 5vw, 300px) !important;
}
.search-wrap{
  position: relative;
}
.suggestions-cont{
  z-index: 9999;
  width:250px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  background-color: #f17995;
  margin-top: 0.5rem;
}
.suggestions-cont ul{
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-height: 250px;
  overflow: auto; 
}
.suggestions-none{
  display: none;
}
.suggestions-cont ul li{
  padding: 0.5rem;
  margin: 1px 0;
  border-radius: 0.5rem;
  border: 1px solid var(--green);
  background-color: #f17995;
  cursor: pointer;
}
.input-active{
  width: 100% !important;
}
.close-btn{
  width: 40px;
  height: 40px;
  margin-left: 1rem;
  display: none;
  background-color: #06D6A0;
  border-radius: 10%;
}
.pop-movies-cont{
  display: flex;
  overflow: hidden;
}
/* .pop-movies-cont:hover{
  cursor: grab;
} */
.movies-card{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 430px;
  min-width:300px;
  width: 300px;
  background-color: var(--blue);
  border-radius: 1.9rem;
  position: relative;
  margin: 1rem;
  /* cursor: pointer; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* .movies-card:hover{
  cursor: pointer;
} */
.movies-card img{
  height: 350px;
  border-radius: 2rem 2rem 5px 5px;
}
.movies-card h3{
  margin: auto;
  text-align: center;
}
.movies-card .hidden-mov-det{
  background-color: var(--blue);
  position: absolute;
  bottom: -100%;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  transition: bottom 0.6s ease;
}
.hidden-mov-det button:hover{
  cursor: pointer;
}
.hidden-mov-det>*{
  margin: 0.5rem auto;
}
.movies-card:hover .hidden-mov-det{
  bottom: 0;
}
.movies-card button{
  outline: none;
  border: 1px solid black;
  background: transparent;
  padding: 5px;
  border-radius: 20px;
  font-size: 1.2rem;
}
.arrow-cont{
  background-color:transparent;
  width: 100px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}
.arrow-cont img{
  width: 20px;
}
.pop-movies-heading{
  color: var(--yellow);
  text-align: center;
  width: 80%;
  margin: 1.5rem auto;
  padding: 1rem;
  border-radius: 5rem;
  border: 1px dotted var(--green);
}
.hl{
  color: var(--dark-blue);
}
@media (min-width: 401px){
  .close-btn{
    display: none !important;
  }
}
@media (max-width: 400px) {
  .search-cont input {
    width: 0px;
  }
  .search-cont{
      width: 60px;
  }
  .close-btn{
    display: inline;
  }
}
@media (max-width:401px){
  .main-poster-cont img{
    width: 100%;
  }
}
